@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: all 300ms ease;
}
body {
  background-color:rgb(197, 236, 235);
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
}
.container {
  display: grid;
  place-items: center;
  grid-template-rows:3rem 1fr;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding:1rem 2rem;
  backdrop-filter: blur(5px);
  box-shadow: 0 5px 5px -6px rgba(14, 6, 6, 0.4);
  margin-bottom: 1.5rem;
}
.wrapper {
  position: relative;
  max-width: 600px;
  width: 100%;
  box-shadow: 0 0 30px rgba(14, 6, 6, 0.4);
  border-radius: 0.5em;
  overflow: hidden;
}
.message_area {
  overflow: hidden;
  width: 100%;
  background-color: rgb(21, 24, 53);
  min-height: 500px;
  color: #fff;
  background-image: url(images/chat-bg.avif);
  background-size: 100%;
  background-position: center;
}

/* message_header */
.message_header,
.message_header div {
  position: sticky;
  top: 0;
  user-select: none;
  height: 50px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.7);
  background-color: rgb(13, 62, 65);
}
img.chat-logo {
  width: 30px;
  height: 30px;
  object-fit: contain;
  margin: 10px;
}
.message_header h3 {
  font-weight: 300;
}
.message_header .dynamic {
  margin-left: auto;
  padding: 1em;
  text-transform: capitalize;
  font-variant: small-caps;
}
/* message  */
.messages {
  height: calc(100% - 100px);
  overflow-y: scroll;
}
.msg {
  margin: 10px;
  max-width: 70%;
  border-radius: 1em;
  padding: 0.3em;
}
.msg h4.username {
  font-size: 10px;
  font-weight: 300;
  text-transform: capitalize;
  /* font-variant: small-caps; */
}
.msg p {
  margin-left: 1em;
}
.msg-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 300;
}
.msg-details p {
  width: 80%;
  font-size: 14px;
}
.msg-details .time {
  width: 20%;
  font-size: 12px;
  font-weight: 100;
  align-self: flex-end;
  margin-left: auto;
  display: block;
}
.incoming-msg {
  background-color: rgba(0, 110, 124, 0.459);
}
.outgoing-msg {
  margin-left: auto;
  background-color: rgba(4, 91, 30, 0.491);
}

/* input  */
.input {
  position: absolute;
  bottom: 0;
  height: 50px;
  width: 100%;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.input textarea {
  width: 100%;
  height: 100%;
  padding: 1em;
  font-family: inherit;
  color: #fff;
  outline: none;
  border: none;
  background-color: rgba(69, 63, 63, 0.313);
  backdrop-filter: blur(5px);
  resize: none;
}

*::-webkit-scrollbar {
  width: 0;
  height: 0;
}

/* js classes */

.msg-send {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #1a7406;
  color: #fff;
  padding: 0.5em;
  border-radius: 0.5em;
  text-transform: capitalize;
  font-variant: small-caps;
}

@media screen and (max-width: 500px) {
  .messages p {
    font-size: 12px;
  }
  .messages .time {
    font-size: 10px;
  }
  .input {
    height: 40px;
  }
  .input textarea {
    padding: 0.8em;
  }
}
